@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --font-display: 'Inter', 'sans-serif';
  --color-background: #1d2123;
  --color-foreground: #efeee0;
  --color-primary: #307db8;
  --color-secondary: #facd66;
  --color-dark: #1a1e1f;
  --color-alt: #a4c7c6;
}

@layer base {
  html {
    @apply font-display;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
